<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    td{
        text-align: center;
        width: 40px;
        height: 40px;
    }
    .ficha {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        text-align: center;
    }
    td:hover{
        background-color: rgb(201, 108, 255);
    }
</style>
<body>
    <table id="tabla" border="1" ></table><br>
    <div id="puntos"></div>
    <h1 id="mensaje"></h1>

</body>
<!-- <script src="javascript/board.js"></script> -->
<!-- <script type="module" src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script> // CDN socket.io -->
<script src="javascript/socket.io/socket.io.min.js"></script>
<script type="module" src="javascript/table.js"></script>
<script type="module" src="javascript/chips.js"></script>
<script type="module" src="javascript/board.js"></script>
<script type="module" src="javascript/socket.js"></script>
</html>