<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <h1>What is that pokemon?</h1>
        <img src="" id="reload" alt=""><br>
        <input type="text" name="response" id="response">
        <button id="enviar" type="submit">Enviar</button><br>

        <h2 id="result"></h2>
    </div>
    
    <!-- <form action="/respuesta" method="post" content-type="application/json"> -->
    
    <!-- </form> -->
</body>
<script src="/javascript/post.js"></script>
</html>